## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [4]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [20]:
# Your code here
sample_list_1 = random.sample(range(100), k = 80, counts=None)
print(sample_list_1)

[3, 37, 96, 44, 29, 90, 95, 15, 31, 16, 30, 85, 9, 50, 40, 32, 52, 48, 78, 22, 45, 17, 58, 26, 55, 59, 7, 46, 19, 62, 41, 68, 34, 35, 8, 54, 49, 66, 73, 18, 10, 97, 0, 92, 24, 93, 42, 94, 99, 88, 2, 57, 75, 6, 65, 13, 63, 72, 83, 79, 38, 43, 81, 14, 4, 60, 28, 20, 64, 53, 51, 33, 11, 27, 21, 69, 5, 80, 61, 1]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [60]:
# Your code here
set1 = set(sample_list_1)
print("The length of sample_list_1 is 80 an the length of set1 is:", len(set1))

The length of sample_list_1 is 80 an the length of set1 is: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [21]:
# Your code here
sample_list_2 = []
for i in range(0, 80):
    x = random.randint(1,101)
    sample_list_2.append(x)

print(sample_list_2)

[71, 43, 93, 26, 22, 41, 63, 13, 51, 34, 29, 65, 43, 61, 11, 85, 7, 60, 96, 16, 35, 72, 23, 79, 101, 69, 60, 26, 11, 25, 35, 80, 74, 30, 90, 34, 30, 9, 49, 39, 49, 74, 96, 36, 81, 18, 20, 85, 60, 35, 91, 91, 64, 67, 97, 36, 78, 14, 19, 40, 73, 83, 18, 84, 39, 35, 85, 87, 21, 68, 9, 31, 15, 95, 15, 40, 90, 1, 93, 74]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [25]:
# Your code here
set2 = set(sample_list_2)
print("The length of sample_list_2 is 80 an the length of set1 is:", len(set2))

The length of sample_list_2 is 80 an the length of set1 is: 55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [26]:
# Your code here
set3 = set1 - set2
print(set3)

{0, 2, 3, 4, 5, 6, 8, 10, 17, 24, 27, 28, 32, 33, 37, 38, 42, 44, 45, 46, 48, 50, 52, 53, 54, 55, 57, 58, 59, 62, 66, 75, 88, 92, 94, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [27]:
# Your code here
set4 = set2 - set1
print(set4)

{67, 36, 101, 39, 71, 74, 84, 87, 23, 25, 91}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [30]:
# Your code here
set5 = set(set1).intersection(set2)
print(set5)

{1, 7, 9, 11, 13, 14, 15, 16, 18, 19, 20, 21, 22, 26, 29, 30, 31, 34, 35, 40, 41, 43, 49, 51, 60, 61, 63, 64, 65, 68, 69, 72, 73, 78, 79, 80, 81, 83, 85, 90, 93, 95, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [31]:
# Your code here
len(set5)*2+len(set3)+len(set4)==len(set1)+len(set2)

True

#### Create an empty set called `set6`.

In [34]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [38]:
# Your code here
set6.update(set3,set5)
print('set6 after update()', set6)

set6 after update() {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 72, 73, 75, 78, 79, 80, 81, 83, 85, 88, 90, 92, 93, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [39]:
# Your code here
print("Set1 and Set6 equal? ",set1 == set6)

Set1 and Set6 equal?  True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [43]:
# Your code here
print("set 1 contains set2 ? ", set2.issubset(set1))
print("set 1 contains set3 ? ", set3.issubset(set1))

set 1 contains set2 ?  False
set 1 contains set3 ?  True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [47]:
# Your code here
print('set3 U set4 U set5 =', set3.union(set4, set5))
print('')
print('set1 U set2 =', set1.union(set2))

set3 U set4 U set5 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 78, 79, 80, 81, 83, 84, 85, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 101}

set1 U set2 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 78, 79, 80, 81, 83, 84, 85, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 101}

#### Using the `pop` method, remove the first element from `set1`.

In [61]:
# Your code here
print('set1 before pop:', set1)

set1.pop()
print('')

print('set1 after pop:', set1)

set1 before pop: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 72, 73, 75, 78, 79, 80, 81, 83, 85, 88, 90, 92, 93, 94, 95, 96, 97, 99}

set1 after pop: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 72, 73, 75, 78, 79, 80, 81, 83, 85, 88, 90, 92, 93, 94, 95, 96, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [63]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    set1.discard(i)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 24, 26, 27, 28, 30, 32, 33, 34, 35, 37, 38, 40, 42, 43, 44, 45, 46, 48, 50, 52, 53, 54, 55, 57, 58, 60, 62, 63, 64, 65, 66, 68, 72, 73, 75, 78, 80, 83, 85, 88, 90, 92, 93, 94, 95, 96, 97}