In [1]:
import pandas as pd
import numpy as np
import re

## Part 1: Upload the data

In [126]:
#â˜º Visualize the data
data = pd.read_excel("/Users/Rachad/Desktop/Rachad/Ironhack/Modules_Labs_Ironhack/Module1/lab33/example_data_cleaning.xlsx")
data

,TransactionID,ClientID,BirthYear,Amount,Profession,Department,Risk
0,4,34985,1923.000000,5670,manager,78,Low
1,16,34997,1923.000000,2399090,developer,78,High
2,25,35006,1923.000000,33050,HR,78,High
3,12,34993,1939.142857,23430,professor,78,Low
4,21,35002,1939.142857,16770,manager,78,Low
5,11,34992,1943.857143,21210,researcher,78,Medium
6,20,35001,1943.857143,14550,student,78,Medium
7,3,34984,1945.000000,3450,student,78,Medium
8,19,35000,1948.571429,12330,barmen,78,High
9,9,34990,1953.285714,16770,Manager,78,Medium
10,8,34989,1958.000000,14550,HR,78,High
11,6,34987,1967.000000,10110,Manager,78,Medium
12,15,34987,1967.000000,30090,Manager,78,Low
13,24,34989,1967.000000,27870,HR,78,Medium
14,27,35008,1967.000000,41930,bdm,78,Low
15,28,35008,1967.000000,46370,NaN,78,High
16,29,35008,1976.000000,50810,NaN,78,Medium
17,5,34986,1978.000000,7890,hr,78,High
18,17,34998,1978.000000,7890,etudient,78,Medium
19,10,34991,1988.000000,18990,BDM,78,Low
20,30,34991,1988.000000,55250,BDM,78,High
21,18,34999,1988.000000,10110,etudient,78,Low
22,23,34988,1999.000000,25650,Manager,78,Low
23,14,34995,1999.000000,27870,Hairdresser,78,Low
24,26,35007,1999.000000,37490,etudient,78,Medium
25,1,34982,2013.000000,12900,Student,78,Low
26,2,34983,2015.000000,1230,barmen,78,High
27,13,34994,2017.000000,25650,Driver,78,Medium
28,22,34987,NaN,18990,sailer,78,High
29,7,34988,NaN,12330,Manager,78,Medium

## Part 2: Analyze your data and create a plan for data preparation

In [74]:
# Start by calculating the descriptive statistics 
DescStats = data["Amount"].describe()
DescStats
# Analysis: We can already notice that the std is too high especially compared to the mean. 
# This will result in a very high variance. This shows that there is outliers that should be evaluated.

count    3.000000e+01
mean     1.010097e+05
std      4.342616e+05
min      1.230000e+03
25%      1.233000e+04
50%      1.899000e+04
75%      2.953500e+04
max      2.399090e+06
Name: Amount, dtype: float64

In [ ]:
##Planification for the cleaning:
#1- Examining Data for Potential Issues
#2- Identify and fill in missing values.
#3- Identify and correct incorrect values.
#4- Remove low variance columns.
#5- Identify potential outliers.
#6- Correct incorrect data types.
#7- Remove special characters and clean categorical variables.
#8- Identify and remove duplicate records.

## Part 3: Data cleansing (missing values, outliers, duplicates, data consistently)

#### 1- Examining Data for Potential Issues

In [75]:
#Start by removing trailing spaces at the end of the column names if there are any
data.columns = data.columns.str.rstrip(' ')

In [76]:
#Check the unique values and see if duplicates are due to different spelling or characters 
print('In the column Profession : ', data['Profession'].unique())
print('\n')
print('In the column Profession : ', data['Risk'].unique())

In the column Profession :  ['manager' 'developer' 'HR' 'professor' 'researcher' 'student' 'barmen'
 'Manager' 'bdm' nan 'hr' 'etudient' 'BDM' 'Hairdresser' 'Student'
 'Driver' 'sailer']


In the column Profession :  ['Low' 'High' 'Medium']

In [77]:
#The idea is to make all duplicates written the same way in order to be recognized as same with all functions
data['Profession'] = data['Profession'].str.replace('etudient', 'Student')
data['Profession'] = data['Profession'].str.capitalize()
data['Profession'] = data['Profession'].str.replace('Hr', 'HR')
print('repaired column Profession : ', data['Profession'].unique())

repaired column Profession :  ['Manager' 'Developer' 'HR' 'Professor' 'Researcher' 'Student' 'Barmen'
 'Bdm' nan 'Hairdresser' 'Driver' 'Sailer']

In [131]:
# We can notice that some of the years are miswritten like 1939.14? In this case we should get rid of what's after the dot
# We start by transforming the column BirthYear from int to strings

#data['BirthYear'] = data['BirthYear'].str.replace('(.)+(\d)', '')

#data['BirthYear'] = data.to_string(columns = ['BirthYear'])
#data['BirthYear'] = data['BirthYear'].apply(str)
#data['BirthYear'] = re.sub('(.)+(\d)', '', str(data['BirthYear']))
data['BirthYear'] = data['BirthYear'].astype('object')
# we can retransform the colmun into num by using .astype(int or float or object)...
data['BirthYear'].dtype
#data['BirthYear'] = re.sub(r'\.[0:9]', '', str(data['BirthYear']))

data['BirthYear'] = data[['BirthYear']].split('.', 1)[0]

AttributeError: 'DataFrame' object has no attribute 'split'

In [130]:
type(data['BirthYear'] )

pandas.core.series.Series

In [124]:
data

,TransactionID,ClientID,BirthYear,Amount,Profession,Department,Risk
0,4,34985,0 1923\n1 1923\n2 1...,5670,manager,78,Low
1,16,34997,0 1923\n1 1923\n2 1...,2399090,developer,78,High
2,25,35006,0 1923\n1 1923\n2 1...,33050,HR,78,High
3,12,34993,0 1923\n1 1923\n2 1...,23430,professor,78,Low
4,21,35002,0 1923\n1 1923\n2 1...,16770,manager,78,Low
5,11,34992,0 1923\n1 1923\n2 1...,21210,researcher,78,Medium
6,20,35001,0 1923\n1 1923\n2 1...,14550,student,78,Medium
7,3,34984,0 1923\n1 1923\n2 1...,3450,student,78,Medium
8,19,35000,0 1923\n1 1923\n2 1...,12330,barmen,78,High
9,9,34990,0 1923\n1 1923\n2 1...,16770,Manager,78,Medium
10,8,34989,0 1923\n1 1923\n2 1...,14550,HR,78,High
11,6,34987,0 1923\n1 1923\n2 1...,10110,Manager,78,Medium
12,15,34987,0 1923\n1 1923\n2 1...,30090,Manager,78,Low
13,24,34989,0 1923\n1 1923\n2 1...,27870,HR,78,Medium
14,27,35008,0 1923\n1 1923\n2 1...,41930,bdm,78,Low
15,28,35008,0 1923\n1 1923\n2 1...,46370,NaN,78,High
16,29,35008,0 1923\n1 1923\n2 1...,50810,NaN,78,Medium
17,5,34986,0 1923\n1 1923\n2 1...,7890,hr,78,High
18,17,34998,0 1923\n1 1923\n2 1...,7890,etudient,78,Medium
19,10,34991,0 1923\n1 1923\n2 1...,18990,BDM,78,Low
20,30,34991,0 1923\n1 1923\n2 1...,55250,BDM,78,High
21,18,34999,0 1923\n1 1923\n2 1...,10110,etudient,78,Low
22,23,34988,0 1923\n1 1923\n2 1...,25650,Manager,78,Low
23,14,34995,0 1923\n1 1923\n2 1...,27870,Hairdresser,78,Low
24,26,35007,0 1923\n1 1923\n2 1...,37490,etudient,78,Medium
25,1,34982,0 1923\n1 1923\n2 1...,12900,Student,78,Low
26,2,34983,0 1923\n1 1923\n2 1...,1230,barmen,78,High
27,13,34994,0 1923\n1 1923\n2 1...,25650,Driver,78,Medium
28,22,34987,0 1923\n1 1923\n2 1...,18990,sailer,78,High
29,7,34988,0 1923\n1 1923\n2 1...,12330,Manager,78,Medium

#### 2- Identify and fill in missing values.

In [79]:
# missing values: we can notice there is two missing values for BirthYear and two for Profession
data.isnull().sum()

TransactionID    0
ClientID         0
BirthYear        2
Amount           0
Profession       2
Department       0
Risk             0
dtype: int64

##### Evaluating the missing value in Profession and BirthYear

In [80]:
# Check using the clientID if the missing values belong to clients that already have there information in the table
null_displ = data[(data['Profession'].isnull()==True) | (data['BirthYear'].isnull()==True)]
null_displ

    TransactionID  ClientID  BirthYear  Amount Profession  Department    Risk
15             28     35008     1967.0   46370        NaN          78    High
16             29     35008     1976.0   50810        NaN          78  Medium
28             22     34987        NaN   18990     Sailer          78    High
29              7     34988        NaN   12330    Manager          78  Medium

In [82]:
# We can notice that the clientIDs 35008, 34987 and 34988 is already mentionned in the table.

#     For the client 35008 we can notice that a typo of the year of birth was generated : 1976 instead of 1967. 
#     Based on The data the profession of this client seems to be Bdm

#     For the client 34987 we can notice that the profession seems to be different Manager and Sailer. 
#     I have a doubt about imputng the same year as the other two rows belonging to the same clientID

#     For the client 34988 we can notice two rows with same ID and same Profession. Seems to be the same person.  
#     I think we can replace the null value by the year 1999. 

test = data[(data['ClientID']==35008) | (data['ClientID']==34987) | (data['ClientID']==34988)]
test.sort_values("ClientID")

    TransactionID  ClientID  BirthYear  Amount Profession  Department    Risk
11              6     34987     1967.0   10110    Manager          78  Medium
12             15     34987     1967.0   30090    Manager          78     Low
28             22     34987        NaN   18990     Sailer          78    High
22             23     34988     1999.0   25650    Manager          78     Low
29              7     34988        NaN   12330    Manager          78  Medium
14             27     35008     1967.0   41930        Bdm          78     Low
15             28     35008     1967.0   46370        NaN          78    High
16             29     35008     1976.0   50810        NaN          78  Medium

In [97]:
# Now we can fill the missing values in the profession column. We can also correct the year of birth
data[['Profession']] = data[['Profession']].fillna('Bdm')
#data[['BirthYear']] = data[(data['ClientID'] == 34988) & (data['Profession'])].fillna('1999')
data[['BirthYear']] = data[(data['ClientID'] == 34987) & (data['Profession'] == 'Sailer')].fillna('1967')
data[(data['ClientID']==35008) | (data['ClientID']==34987) | (data['ClientID']==34988)]

ValueError: Columns must be same length as key

In [86]:
data

,TransactionID,ClientID,BirthYear,Amount,Profession,Department,Risk
0,4,34985,1923.000000,5670,Manager,78,Low
1,16,34997,1923.000000,2399090,Developer,78,High
2,25,35006,1923.000000,33050,HR,78,High
3,12,34993,1939.142857,23430,Professor,78,Low
4,21,35002,1939.142857,16770,Manager,78,Low
5,11,34992,1943.857143,21210,Researcher,78,Medium
6,20,35001,1943.857143,14550,Student,78,Medium
7,3,34984,1945.000000,3450,Student,78,Medium
8,19,35000,1948.571429,12330,Barmen,78,High
9,9,34990,1953.285714,16770,Manager,78,Medium
10,8,34989,1958.000000,14550,HR,78,High
11,6,34987,1967.000000,10110,Manager,78,Medium
12,15,34987,1967.000000,30090,Manager,78,Low
13,24,34989,1967.000000,27870,HR,78,Medium
14,27,35008,1967.000000,41930,Bdm,78,Low
15,28,35008,1967.000000,46370,Bdm,78,High
16,29,35008,1976.000000,50810,Bdm,78,Medium
17,5,34986,1978.000000,7890,HR,78,High
18,17,34998,1978.000000,7890,Student,78,Medium
19,10,34991,1988.000000,18990,Bdm,78,Low
20,30,34991,1988.000000,55250,Bdm,78,High
21,18,34999,1988.000000,10110,Student,78,Low
22,23,34988,1999.000000,25650,Manager,78,Low
23,14,34995,1999.000000,27870,Hairdresser,78,Low
24,26,35007,1999.000000,37490,Student,78,Medium
25,1,34982,2013.000000,12900,Student,78,Low
26,2,34983,2015.000000,1230,Barmen,78,High
27,13,34994,2017.000000,25650,Driver,78,Medium
28,22,34987,NaN,18990,Sailer,78,High
29,7,34988,NaN,12330,Manager,78,Medium

##### Evaluating the missing value in BirthYear

#### 5- Identify potential outliers.

In [58]:
data_pivot = data.pivot_table(index = ['ClientID','Profession','TransactionID','BirthYear'], 
                          values = ['Amount'], aggfunc={'Amount': np.sum})
data_pivot

                                                 Amount
ClientID Profession  TransactionID BirthYear
34982    Student     1             2013.000000    12900
34983    Barmen      2             2015.000000     1230
34984    Student     3             1945.000000     3450
34985    Manager     4             1923.000000     5670
34986    HR          5             1978.000000     7890
34987    Manager     6             1967.000000    10110
                     15            1967.000000    30090
34988    Manager     23            1999.000000    25650
34989    HR          8             1958.000000    14550
                     24            1967.000000    27870
34990    Manager     9             1953.285714    16770
34991    Bdm         10            1988.000000    18990
                     30            1988.000000    55250
34992    Researcher  11            1943.857143    21210
34993    Professor   12            1939.142857    23430
34994    Driver      13            2017.000000    25650
34995    Hairdresser 14            1999.000000    27870
34997    Developer   16            1923.000000  2399090
34998    Student     17            1978.000000     7890
34999    Student     18            1988.000000    10110
35000    Barmen      19            1948.571429    12330
35001    Student     20            1943.857143    14550
35002    Manager     21            1939.142857    16770
35006    HR          25            1923.000000    33050
35007    Student     26            1999.000000    37490
35008    Bdm         27            1967.000000    41930

## Part 4: Encode categorical data

In [70]:
pd.get_dummies(data)

,TransactionID,ClientID,Amount,Department,BirthYear_1923.0,BirthYear_1939.14285714286,BirthYear_1943.85714285714,BirthYear_1945.0,BirthYear_1948.57142857143,BirthYear_1953.28571428571,...,Profession_HR,Profession_Hairdresser,Profession_Manager,Profession_Professor,Profession_Researcher,Profession_Sailer,Profession_Student,Risk_High,Risk_Low,Risk_Medium
0,4,34985,5670,78,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,16,34997,2399090,78,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,25,35006,33050,78,1,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,12,34993,23430,78,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,21,35002,16770,78,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
5,11,34992,21210,78,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
6,20,35001,14550,78,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
7,3,34984,3450,78,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
8,19,35000,12330,78,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
9,9,34990,16770,78,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
10,8,34989,14550,78,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
11,6,34987,10110,78,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
12,15,34987,30090,78,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
13,24,34989,27870,78,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
14,27,35008,41930,78,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15,28,35008,46370,78,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,29,35008,50810,78,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17,5,34986,7890,78,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
18,17,34998,7890,78,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
19,10,34991,18990,78,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
20,30,34991,55250,78,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
21,18,34999,10110,78,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
22,23,34988,25650,78,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
23,14,34995,27870,78,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
24,26,35007,37490,78,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
25,1,34982,12900,78,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
26,2,34983,1230,78,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,13,34994,25650,78,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,22,34987,18990,78,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
29,7,34988,12330,78,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1