# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [52]:
# your code here
admissions = pd.read_csv("Admission_Predict.csv")

Remove trailing spaces at the end of the column names if there are any.

In [53]:
# your code here
admissions.columns = admissions.columns.str.replace(' ', '')

Let's evaluate the dataset by looking at the `head` function.

In [54]:
# your code here
admissions.head()

,SerialNo.,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [55]:
# your code here
#First method
admissions.isnull().sum()

SerialNo.           0
GREScore            0
TOEFLScore          0
UniversityRating    0
SOP                 0
LOR                 0
CGPA                0
Research            0
ChanceofAdmit       0
dtype: int64

In [57]:
#Second method
admissions.isna().sum()

SerialNo.           0
GREScore            0
TOEFLScore          0
UniversityRating    0
SOP                 0
LOR                 0
CGPA                0
Research            0
ChanceofAdmit       0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [59]:
# your code here
admissions.set_index(['SerialNo.'] , inplace=True, drop=False)
admissions

,SerialNo.,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
SerialNo.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [60]:
# your code here
#First I subsetted the columns in question and I checked if there is any dupliactes in them
extract = admissions[["GREScore", "CGPA"]]
extract.duplicated().sum()

0

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [61]:
admissions.set_index(["GREScore", "CGPA"], inplace = True)
admissions

,,SerialNo.,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit
GREScore,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
324,9.04,381,110,3,3.5,3.5,1,0.82
325,9.11,382,107,3,3.0,3.5,1,0.84
330,9.45,383,116,4,5.0,4.5,1,0.91
312,8.78,384,103,3,3.5,4.0,0,0.67
333,9.66,385,117,4,5.0,4.0,1,0.95

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [63]:
# your code here
admissions.reset_index(inplace = True)
admissions

,index,GREScore,CGPA,SerialNo.,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit
0,0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,4,330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...,...,...
380,380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,382,330,9.45,383,116,4,5.0,4.5,1,0.91
383,383,312,8.78,384,103,3,3.5,4.0,0,0.67
384,384,333,9.66,385,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [64]:
# your code here
df1 = admissions[(admissions['CGPA'] > 9) &
                 admissions['Research'] == 1]
print("Answer: the number of rows where the CGPA is higher than 9 and the student has conducted research is : ", len(df1))
print("\n\n")

Answer: the number of rows where the CGPA is higher than 9 and the student has conducted research is :  101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [65]:
# your code here
df2 = admissions[(admissions['CGPA'] > 9) &
                 admissions['SOP'] < 3.5]

mean_ChanceAdmit = df2['ChanceofAdmit'].mean()
print("Answer: the mean is : ", mean_ChanceAdmit)
print("\n\n")

Answer: the mean is :  0.7239220779220773

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [66]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """

    # your code here
    result = (col - np.mean(col)) / np.std(col)
    return result

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [68]:
# your code here
admissions['CGPA_std'], admissions['GRE_std'], admissions['LOR_std'] = [standardize(admissions["CGPA"]), standardize(admissions["GREScore"]), standardize(admissions["LOR"])]

We will generate the decision choice at random using the code below. Please run the cell.

In [69]:
# Libraries
from random import choices

In [70]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [ ]:
# your code here

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# your code here

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# your code here

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# your code here

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# your code here